<!DOCTYPE html>
<ul>
    <li><a href="{% url 'survey:index' %}">Survey List</a></li>
    <li><a href="{% url 'survey:question_list' %}">Question List</a></li>
</ul>
<h1>Question list</h1>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/survey/questions/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No question is available.</p>
{% endif %}
<a href="{% url 'survey:question_create' %}">Create new question</a>