<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Species</title>
</head>
<body>
    <ul>
        <li><a href="{% url 'survey:index' %}">Survey List</a></li>
        <li><a href="{% url 'survey:question_list' %}">Question List</a></li>
        <li><a href="{% url 'survey:species_index' %}">Species List</a> </li>
    </ul>
    <h1>Species List</h1>
    {% if species_list %}
        <p>Number of species: {{ species_list|length }}</p>
        <ul>
        {% for species in species_list %}
            <li><a href="{% url 'survey:species_detail' species.id %}">{{ species.name }}</a> </li>
        {% endfor %}
        </ul>
    {% endif %}
    <a href="{% url 'survey:species_create' %}">Add new species</a>
</body>
</html>