<!DOCTYPE html>
<ul>
    <li><a href="{% url 'survey:index' %}">Survey List</a></li>
    <li><a href="{% url 'survey:question_list' %}">Question List</a></li>
    <li><a href="{% url 'survey:species_index' %}">Species List</a> </li>
</ul>
<h1>{{ survey.title }}</h1>
<ul>
<!-- Because questions in survey is a many-to-many relation,
have to use '.all' (in template) or '.all()' (in django python)
to get the list. without calling '.all', there will be error
'ManyRelatedManager is not iterable'.
'questions' field in survey is kind of a list already, so no
such thing as 'questions_list.all'
-->

{% if survey.surveyquestion_set.all %}
<p>Number of questions: {{ survey.surveyquestion_set.all|length }}</p>
{% for question in survey.surveyquestion_set.all %}
    <li>Question: <strong>{{ question.question }}</strong><br>Previous question: <strong>{{ question.previous_question }}</strong><br> Key choice: <strong>{{ question.key_choice }}</strong>
        <ul>
        <!-- Choice in quest is one-to-many relation. the choice field is not 
        a list. so need to call 'choice_set' and then '.all' for the list. -->
        {% for choice in question.question.choice_set.all %}
            <li>{{ choice.choice_text }}</li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
{% endif %}